.section5 {
  margin-top: 50px;
  margin-bottom: 40px;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      // flex-direction: column;
      h1 {
        font-size: 31px;
        font-weight: 600;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        color: #7a7878;
      }
      a {
        text-decoration: none;
        font-size: 21px;
        font-weight: 450;
      }
    }
    .displeydiv {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 65px;
      .card1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 215px;
          height: 265px;
          margin-bottom: 15px;
        }
        .divCards {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px;
          p {
            color: #7a7878;
            font-size: 17px;
  
          }
          h2 {
            font-size: 23px;
            font-weight: 700;
          }
          .p {
            font-size: 17px;
            font-weight: 500;
          }
          a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}